/* General styling */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #ff9a9e, #fad0c4, #fbc2eb, #a18cd1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: white;
    text-align: center;
}

/* Greeting text styling */
h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Button styling */
button {
    background-color: white;
    color: #433166;
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

button:hover {
    transform: scale(1.05);
}

/* Address container styling */
#addressContainer {
    margin-top: 20px;
    text-align: center;
}

/* Address display box styling */
#address {
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    color: white;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: fit-content;
    font-size: 1.2em;
    text-align: center;
}

/* Next page button styling */
#nextPageButton {
    margin-top: 20px;
    background-color: white;
    color: #433166;
    font-size: 1.5em;
    padding: 10px 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease;
}

#nextPageButton:hover {
    transform: scale(1.1);
}

